
.ipynb_checkpoints/3D annotation and segmentation-checkpoint.ipynb
.ipynb_checkpoints/Annotation template-checkpoint.ipynb
3D annotation and segmentation.ipynb
data/1_preprocessed/tp7_channel1_rescaled(256x256x103).tif
data/2_annotations/manual_annotation_and_slice_interpolation.tif
data/2_annotations/manual_annotation_ML.tif
imgs/bounding_box_annotation_n_slice_interpolation.tif
imgs/bounding_box_bug.png
imgs/manual annotation_n_slice_interpolation.tif
imgs/manual annotation_n_slice_interpolation_2.tif
imgs/minimal_contour_high_gradient_annotation_n_slice_interpolation.tif
imgs/stardist_tp7_channel1.tif
imgs/tp7_channel1(327x327x132).tif
imgs/tp7_channel1(654x654x264).tif
imgs/tp7_channel1.tif
imgs/tp7_channel1_rescaled(256x256x103).tif
imgs/tp7_channel1_rescaled.tif
imgs/voronoi-otsu-labeling-result.tif
screenshots/20230228_2D_view.png
screenshots/20230228_3D_view.png
screenshots/20230228_napari_annnotator.png
screenshots/20230301_difference_between_screens.png
screenshots/tweet.png
.gitattributes
imgs/stardist_ungrouped_labels.tif
imgs/.ipynb_checkpoints/stardist_ungrouped_labels-checkpoint.tif
data/2_annotations/name/.ipynb_checkpoints/grouped_labels-checkpoint.tif
data/2_annotations/name/grouped_labels.tif
screenshots/20230323_napari_annotator_center.png
screenshots/20230323_napari_annotator_color.png
screenshots/20230323_napari_annotator_erase.png
screenshots/20230323_napari_annotator_GUI.png
screenshots/20230323_napari_annotator_visible.png
